Source: xenta-mdm-themes-html
Section: x11
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/xenta-mdm-themes-html
Vcs-Browser: https://github.com/xentaos/xenta-mdm-themes-html.git

Package: xenta-mdm-themes-html
Architecture: all
Conflicts: mint-mdm-themes-html
Replaces: mint-mdm-themes, mint-mdm-themes-kde, mint-mdm-themes-html
Description: Paket HTML MDM Display Manager Theme.
 Paket HTML MDM Display Manager Theme untuk Xenta OS.
